In [1]:
import numpy as np

In [2]:
import urllib.request

urllib.request.urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/08/climate.csv', 'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x7f0eee946990>)

In [3]:
climate_data = np.genfromtxt('climate.txt', delimiter=',', skip_header=1)

Load data from a text file, with missing values handled as specified. 
Each line past the first skip_header lines is split at the delimiter character, and characters following the comments character are discarded.

In [4]:
climate_data
climate_data.shape

(10000, 3)

In [5]:
weights = np.array([0.3, 0.2, 0.5])

In [6]:
yields = climate_data @ weights

In [7]:
yields.shape

(10000,)

In [8]:
climate_results = np.concatenate((climate_data, yields.reshape(10000,1)), axis=1)

In [9]:
climate_results

array([[25. , 76. , 99. , 72.2],
       [39. , 65. , 70. , 59.7],
       [59. , 45. , 77. , 65.2],
       ...,
       [99. , 62. , 58. , 71.1],
       [70. , 71. , 91. , 80.7],
       [92. , 39. , 76. , 73.4]])

In [10]:
np.savetxt('climate_results.txt', 
           climate_results, 
           fmt='%.2f', 
           delimiter=',',
           header='temperature,rainfall,humidity,yeild_apples', 
           comments='')

#Reading from and Writing to Files using Python

In [11]:
import os

In [12]:
os.getcwd()

'/content'

In [13]:
os.listdir('.')

['.config', 'climate_results.txt', 'climate.txt', 'sample_data']

In [14]:
os.makedirs('./data', exist_ok=True)

In [15]:
'data' in os.listdir('.')

True

In [16]:
os.listdir('./data')

[]

In [17]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [18]:
from urllib.request import urlretrieve

In [19]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x7f0ee8211510>)

In [20]:
urlretrieve(url2, './data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x7f0ee8216490>)

In [21]:
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x7f0ee820a6d0>)

In [22]:
os.listdir('./data')

['loans1.txt', 'loans3.txt', 'loans2.txt']

#Reading from a file

In [23]:
with open('./data/loans2.txt') as file2:
    file2_contents = file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [24]:
with open('./data/loans3.txt', 'r') as file3:
    file3_lines = file3.readlines()

In [25]:
file3_lines[0].strip()   #The strip() method returns a copy of the string by removing both 
                         #the leading and the trailing characters (based on the string argument passed).

'amount,duration,rate,down_payment'

In [26]:
file3_lines[0].strip().split(',')

['amount', 'duration', 'rate', 'down_payment']

In [27]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

In [28]:
headers = parse_headers(file3_lines[0])
print(headers)
values1 = parse_values(file3_lines[1])
print(values1)
result1 = create_item_dict(values1, headers)
print(result1)

['amount', 'duration', 'rate', 'down_payment']
[45230.0, 48.0, 0.07, 4300.0]
{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [45]:
def read_csv_as_array(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            result.append(parse_values(data_line))
    return result

array([[8.2840e+05, 1.2000e+02, 1.1000e-01, 1.0000e+05],
       [4.6334e+06, 2.4000e+02, 6.0000e-02, 0.0000e+00],
       [4.2900e+04, 9.0000e+01, 8.0000e-02, 8.9000e+03],
       [9.8300e+05, 1.6000e+01, 1.4000e-01, 0.0000e+00],
       [1.5230e+04, 4.8000e+01, 7.0000e-02, 4.3000e+03]])

In [46]:
read_csv_as_array('./data/loans2.txt')   #Read the data from csv file as an nested array.

[[828400.0, 120.0, 0.11, 100000.0],
 [4633400.0, 240.0, 0.06, 0.0],
 [42900.0, 90.0, 0.08, 8900.0],
 [983000.0, 16.0, 0.14, 0.0],
 [15230.0, 48.0, 0.07, 4300.0]]

In [30]:
def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [31]:
read_csv('./data/loans2.txt')    #Read the data from the csv file as a Dictionary.

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'rate': 0.11},
 {'amount': 4633400.0, 'down_payment': 0.0, 'duration': 240.0, 'rate': 0.06},
 {'amount': 42900.0, 'down_payment': 8900.0, 'duration': 90.0, 'rate': 0.08},
 {'amount': 983000.0, 'down_payment': 0.0, 'duration': 16.0, 'rate': 0.14},
 {'amount': 15230.0, 'down_payment': 4300.0, 'duration': 48.0, 'rate': 0.07}]

#Writing to FIles

In [47]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [48]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])

In [49]:
loans2 = read_csv('./data/loans2.txt')

In [50]:
compute_emis(loans2)
loans2

[{'amount': 828400.0,
  'down_payment': 100000.0,
  'duration': 120.0,
  'emi': 10034,
  'rate': 0.11},
 {'amount': 4633400.0,
  'down_payment': 0.0,
  'duration': 240.0,
  'emi': 33196,
  'rate': 0.06},
 {'amount': 42900.0,
  'down_payment': 8900.0,
  'duration': 90.0,
  'emi': 504,
  'rate': 0.08},
 {'amount': 983000.0,
  'down_payment': 0.0,
  'duration': 16.0,
  'emi': 67707,
  'rate': 0.14},
 {'amount': 15230.0,
  'down_payment': 4300.0,
  'duration': 48.0,
  'emi': 262,
  'rate': 0.07}]

In [51]:
with open('./data/emis2.txt', 'w') as f:
    for loan in loans2:
        f.write('{},{},{},{},{}\n'.format(
            loan['amount'], 
            loan['duration'], 
            loan['rate'], 
            loan['down_payment'], 
            loan['emi']))

In [52]:
with open('./data/emis2.txt', 'r') as f:
    print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

In [53]:
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [54]:
loans3 = read_csv('./data/loans3.txt')

In [55]:
compute_emis(loans3)

In [56]:
write_csv(loans3, './data/emis3.txt')

In [57]:
with open('./data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

In [61]:
%pwd

'/content/drive/MyDrive'

In [60]:
cd '/content/drive/MyDrive'

/content/drive/MyDrive

In [64]:
!git clone https://github.com/d29parkar/Basic_Data_Helpers.git

Cloning into 'Basic_Data_Helpers'...
warning: You appear to have cloned an empty repository.